<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: April 1, 2015
-->

<launch>
  <!-- Grasp Database Connection Params -->
  <arg name="host" default="127.0.0.1" />
  <arg name="port" default="5432" />
  <arg name="user" default="ros" />
  <arg name="password" default="" />
  <arg name="db" default="graspdb" />

  <!-- Model Generator Params -->
  <arg name="debug" default="false" />

  <!-- Set Global Params -->
  <param name="/graspdb/host" type="str" value="$(arg host)" />
  <param name="/graspdb/port" type="int" value="$(arg port)" />
  <param name="/graspdb/user" type="str" value="$(arg user)" />
  <param name="/graspdb/password" type="str" value="$(arg password)" />
  <param name="/graspdb/db" type="str" value="$(arg db)" />

  <node pkg="rail_recognition" name="model_generator" type="model_generator" output="screen" >
    <param name="debug" value="$(arg debug)" />
  </node>
</launch>
