<launch>
  <!-- This launch file starts everything necessary to generate object models from demonstration grasps. -->

  <arg name="model_dir" default="$(find rail_recognition)/models" />
  <arg name="output_dir" default="$(env HOME)" />

  <!-- Grasp Database Connection Params -->
  <arg name="host" default="127.0.0.1" />
  <arg name="port" default="5432" />
  <arg name="user" default="ros" />
  <arg name="password" default="" />
  <arg name="db" default="graspdb" />

  <!-- General Grasp Collector Params -->
  <arg name="debug" default="false" />
  <arg name="robot_fixed_frame_id" default="base_footprint" />
  <arg name="eef_frame_id" default="grasp_link" />

  <!-- Grasp Collector Action Server Client and Topic Params -->
  <arg name="gripper_action_server" default="/manipulation/gripper" />
  <arg name="lift_action_server" default="/manipulation/lift" />
  <arg name="verify_grasp_action_server" default="/manipulation/verify_grasp" />
  <arg name="segmented_objects_topic" default="/segmentation/segmented_objects" />

  <!-- Main Collection Node -->
  <include file="$(find rail_grasp_collection)/launch/rail_grasp_collection.launch">
    <arg name="host" value="$(arg host)" />
    <arg name="port" value="$(arg port)" />
    <arg name="user" value="$(arg user)" />
    <arg name="password" value="$(arg password)" />
    <arg name="db" value="$(arg db)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="robot_fixed_frame_id" value="$(arg robot_fixed_frame_id)" />
    <arg name="eef_frame_id" value="$(arg eef_frame_id)" />
    <arg name="gripper_action_server" value="$(arg gripper_action_server)" />
    <arg name="lift_action_server" value="$(arg lift_action_server)" />
    <arg name="verify_grasp_action_server" value="$(arg verify_grasp_action_server)" />
    <arg name="segmented_objects_topic" value="$(arg segmented_objects_topic)"/>
  </include>

  <node pkg="rail_recognition" name="pc_registration" type="pc_registration" output="screen">
    <param name="output_dir" type="string" value="$(arg output_dir)" />
  </node>

</launch>
