<launch>
  <!-- This launch file starts everything necessary for pick and place. -->

  <arg name="model_dir" default="$(find rail_recognition)/models" />

  <node pkg="rail_segmentation" name="rail_segmentation" type="rail_segmentation" output="screen"/>

  <include file="$(find rail_recognition)/launch/recognition.launch">
    <arg name="model_dir" value="$(arg model_dir)" />
  </include>

  <node pkg="rail_grasping" name="grasp_object" type="grasp_object" output="screen" />

  <node pkg="rail_pick_and_place_wrapper" name="pick_and_place" type="pick_and_place" output="screen" />

</launch>
