<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: March 3, 2015
-->

<launch>
  <!-- Grasp Database Connection Params -->
  <arg name="host" default="127.0.0.1" />
  <arg name="port" default="5432" />
  <arg name="user" default="ros" />
  <arg name="password" default="" />
  <arg name="db" default="graspdb" />

  <!-- General Grasp Collector Params -->
  <arg name="debug" default="false" />
  <arg name="robot_fixed_frame_id" default="base_footprint" />
  <arg name="eef_frame_id" default="eef_link" />

  <!-- Grasp Collector Action Server Client and Topic Params -->
  <arg name="gripper_action_server" default="/manipulation/gripper" />
  <arg name="lift_action_server" default="/manipulation/lift" />
  <arg name="verify_grasp_action_server" default="/manipulation/verify_grasp" />
  <arg name="segmented_objects_topic" default="/segmentation/segmented_objects" />

  <!-- Set Global Params -->
  <param name="/graspdb/host" type="str" value="$(arg host)" />
  <param name="/graspdb/port" type="int" value="$(arg port)" />
  <param name="/graspdb/user" type="str" value="$(arg user)" />
  <param name="/graspdb/password" type="str" value="$(arg password)" />
  <param name="/graspdb/db" type="str" value="$(arg db)" />

  <!-- Main Node -->
  <node name="rail_grasp_collection" pkg="rail_grasp_collection" type="rail_grasp_collection" output="screen">
    <param name="debug" value="$(arg debug)" />
    <param name="robot_fixed_frame_id" value="$(arg robot_fixed_frame_id)" />
    <param name="eef_frame_id" value="$(arg eef_frame_id)" />
    <param name="gripper_action_server" value="$(arg gripper_action_server)" />
    <param name="lift_action_server" value="$(arg lift_action_server)" />
    <param name="verify_grasp_action_server" value="$(arg verify_grasp_action_server)" />
    <param name="segmented_objects_topic" value="$(arg segmented_objects_topic)"/>
  </node>
</launch>
